.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.icon {
  display: block;
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
}
